<div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Apply for {{job.title}} </h1>
    <h5 mat-dialog-title>{{job.createdAt|date:"longDate"}}</h5> 
</div>

<div mat-dialog-content>
 

 <p>{{job.company}} ({{job.industry}} )</p> 
 

  <p style=" white-space: pre-wrap;">{{job.desciption}} </p>

  

  
  
</div>
<div mat-dialog-actions>
  <button mat-raised-button  (click)="dialogRef.close()">cancel</button>
  <button mat-raised-button [disabled]="!job.isActive" color="primary"  (click)="apply()" cdkFocusInitial>Apply</button>
</div>
